---
const { time, text } = Astro.props;
---

<div class="font-montserrat flex flex-col items-center text-white">
  <div class={`max-w-[12rem]`}>
    <slot />
  </div>
  <p class="mt-0 mb-2 text-xl font-bold tracking-[0.25em]">
    {time}
  </p>
  <p class="font-balmy text-custom-green text-4xl">{text}</p>
</div>
