---
const { time, text, width = '8rem' } = Astro.props;
---

<div class='flex flex-col font-montserrat text-white items-center'>
  <div class={`max-w-[${width}]`}>
    <slot />
  </div>
  <p class='text-xl tracking-[0.25em] font-bold mb-8 mt-0'>
    {time}
  </p>
  <p class='font-balmy text-custom-green text-4xl'>{text}</p>
</div>
