<div class='flex flex-col text-center'>
  <div
    class='font-montserrat tracking-[0.25em] font-bold uppercase text-2xl text-white'
  >
    address
  </div>
  <div class='flex flex-col'>
    <div class='font-balmy text-4xl text-custom-green tracking-[0.02em] mt-6'>
      Bignor Park
    </div>
    <div class='font-balmy text-4xl text-custom-green tracking-[0.02em]'>
      West Sussex
    </div>
    <div class='font-balmy text-4xl text-custom-green tracking-[0.02em]'>
      RH20 1HG
    </div>
  </div>
</div>
