---
const {
  addressLineOne = 'Bignor Park',
  addressLineTwo = 'West Sussex',
  addressLineThree = 'RH20 1HG'
} = Astro.props;
---

<div class='flex flex-col text-center'>
  <div
    class='font-montserrat tracking-[0.25em] font-bold uppercase text-2xl text-white'
  >
    address
  </div>
  <a
    class='flex flex-col'
    href='https://maps.app.goo.gl/aeNGU7BebA8mrqjH9'
    target='_blank'
  >
    <div class='font-balmy text-4xl text-custom-green tracking-[0.02em] mt-6'>
      {addressLineOne}
    </div>
    <div class='font-balmy text-4xl text-custom-green tracking-[0.02em]'>
      {addressLineTwo}
    </div>
    <div class='font-balmy text-4xl text-custom-green tracking-[0.02em]'>
      {addressLineThree}
    </div>
  </a>
</div>
