---
const { text } = Astro.props;
---

<div class='flex flex-col items-center'>
  <h2
    class='font-montserrat font-bold uppercase text-white text-2xl tracking-[0.25em]'
  >
    {text}
  </h2>
</div>
