---
import Layout from '../layouts/Layout.astro';
import Polaroid from '../components/polaroid/Polaroid.astro';
import Title from '../components/title/Title.astro';
import { IMAGES } from '../utilities/images';
---

<Layout title="George & Izzy's Wedding 2025">
  <div class='flex flex-col mt-16 md:mt-24 font-montserrat px-8 items-center'>
    <Title text='WELL, WELL, WELL.' />
    <div class='max-w-md'>
      <Polaroid src={IMAGES.boo} />
    </div>
    <div
      class='uppercase tracking-[0.25em] text-white font-bold mt-12 text-center'
    >
      I GUESS WE KNOW WHO OUR REAL FRIENDS ARE
    </div>
    <div class='font-montserrat text-xl text-white mt-8 max-w-2xl text-center'>
      We’re gutted you can’t make it, but hopefully we’ll see you very soon!
    </div>
  </div>
</Layout>
