---
import Layout from "../layouts/Layout.astro";
import Polaroid from "../components/polaroid/Polaroid.astro";
import Title from "../components/title/Title.astro";
---

<Layout title="George & Izzy's Wedding 2025">
  <div class="font-montserrat mt-16 flex flex-col items-center px-8">
    <Title text="WELL, WELL, WELL" />
    <div class="max-w-md">
      <Polaroid src="boo_omympi" width={580} height={435} />
    </div>
    <div
      class="mt-12 text-center font-bold tracking-[0.25em] text-white uppercase"
    >
      I GUESS WE KNOW WHO OUR REAL FRIENDS ARE.
    </div>
    <div class="font-montserrat mt-8 max-w-2xl text-center text-xl text-white">
      We’re gutted you can’t make it, but hopefully we’ll see you very soon!
    </div>
  </div>
</Layout>
