---
import Address from '../components/address/Address.astro';
import Sparkles from '../components/sparkles/Sparkles';
import Date from '../components/date/Date.astro';
import Layout from '../layouts/Layout.astro';
import Button from '../components/button/Button.astro';
import PolaroidStrip from '../components/polaroid/PolaroidStrip.astro';
import { IMAGES } from '../utilities/images';
import DiscoBall from '../components/sketches/DiscoBall.astro';
import Cake from '../components/sketches/Cake.astro';
import Champagne from '../components/sketches/Champagne.astro';
---

<Layout title="George & Izzy's Wedding 2025" noHeader>
  <main
    class='min-[1330px]:p-20 min-[1330px]:pb-0 pb-0 px-10 overflow-x-clip'
  >
    <div class='flex w-full justify-center flex-col text-center relative'>
      <div class='flex'>
        <div class='w-full flex justify-center absolute md:-mt-20'>
          <DiscoBall />
        </div>
        <Sparkles client:load>
          <div class='mt-96 md:mt-64'>
            <div class='font-balmy text-9xl text-custom-green'>George</div>
            <div class='flex w-full justify-end -m-4'>
              <div class='font-sacramento text-9xl text-white mr-8'>&</div>
              <div class='font-balmy text-9xl text-custom-green'>Izzy</div>
            </div>
          </div>
        </Sparkles>
      </div>

      <div>
        <div class='absolute left-20 max-md:left-10 max-sm:hidden'>
          <PolaroidStrip
            classes='-rotate-[20deg] -translate-x-1/2 -translate-y-24 hidden md:block'
            images={[
              IMAGES.glastonbury,
              IMAGES.harold,
              IMAGES.glastonbury,
              IMAGES.harold
            ]}
          />
        </div>
        <div class='mt-12'>
          <Date />
        </div>
        <div class='absolute right-20 -mt-24 max-md:right-10 max-sm:hidden'>
          <Cake />
        </div>
      </div>

      <div>
        <div class='mt-24'>
          <Address />
        </div>
      </div>
      <div class='w-full flex justify-center mt-24 relative'>
        <Button href='/rsvp' id='rsvp' text='RSVP' classes='mt-12' />
        <div class='absolute left-[70%] max-sm:hidden w-full'>
          <PolaroidStrip
            classes='rotate-[20deg] translate-x-1/2 hidden md:block'
            images={[
              IMAGES.glastonbury,
              IMAGES.harold,
              IMAGES.glastonbury,
              IMAGES.harold
            ]}
          />
        </div>
      </div>
      <div class='mt-24 md:hidden'>
        <PolaroidStrip
          classes='rotate-[20deg] translate-x-1/2 md:hidden'
          images={[
            IMAGES.glastonbury,
            IMAGES.harold,
            IMAGES.glastonbury,
            IMAGES.harold
          ]}
        />
      </div>
      <div class='left-10 hidden md:block'>
        <Champagne />
      </div>
    </div>
  </main>
</Layout>
