---
import Layout from '../layouts/Layout.astro';
import Title from '../components/title/Title.astro';
import Button from '../components/button/Button.astro';
import { submitRsvp } from '../scripts/notion';
import type { Coming, DietaryRequirement } from '../utilities/types';
import Name from '../components/sketches/Name.astro';
import Input from '../components/input/Input.astro';
import Radio from '../components/input/Radio.astro';
import Spaghetti from '../components/sketches/Spaghetti.astro';
import Microphone from '../components/sketches/Microphone.astro';
import SOS from '../components/sketches/SOS.astro';

let errors = { name: '', email: '', coming: '', dietary: '' };

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    const formData = Object.fromEntries(data);
    const name = formData.name as string;
    const email = formData.email as string;
    const coming = formData.coming as Coming;
    const dietaryRequirement = formData.dietary as DietaryRequirement;
    const allergies = formData.allergies as string;
    const songChoice = formData.song as string;
    const specialRequirements = formData.sos as string;

    if (
      !formData.name ||
      typeof formData.name !== 'string' ||
      formData.name.trim() === ''
    ) {
      errors.name = 'Please enter your name.';
    }

    if (!formData.email) {
      errors.email = 'Please enter your email address.';
    }

    if (!formData.coming) {
      errors.coming = 'Please select if you can make it.';
    }

    if (!formData.dietary) {
      errors.dietary = 'Please select your dietary requirements.';
    }

    // If no errors, save the response in Notion
    if (!errors.name && !errors.coming && !errors.dietary) {
      const res = await submitRsvp({
        name,
        email,
        coming,
        dietaryRequirement,
        allergies,
        songChoice,
        specialRequirements
      });

      if (res && res.id) {
        // Send email confirming RSVP details
      }

      return Astro.redirect(coming === 'Yes' ? '/yay' : '/boo');
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title="George & Izzy's Wedding 2025">
  <div class='flex flex-col mt-16 md:mt-24 font-montserrat px-8 items-center'>
    <Title text='RSVP' />
    <form id='rsvp' class='w-full max-w-3xl' method='POST'>
      <div class='flex flex-col w-full'>
        <div class='w-full flex justify-center mb-16 h-16'>
          <Name />
        </div>
        <Input id='name' name='name' label='YOUR NAME' required />
        <div class='flex flex-col w-full mt-20'>
          <Input
            id='email'
            name='email'
            label='EMAIL ADDRESS'
            type='email'
            required
          />
        </div>
      </div>

      <div class='flex flex-col mt-20'>
        <fieldset>
          <legend class='text-white font-bold text-base tracking-[0.25em]'
            >CAN YOU MAKE IT?</legend
          >
          <div class='grid grid-cols-2 gap-4'>
            <Radio
              id='optionYes'
              name='coming'
              value='Yes'
              label='YES'
              checked
            />
            <Radio id='optionNo' name='coming' value='No' label='NO' />
          </div>
        </fieldset>
      </div>

      <div id='additionalFields'>
        <div class='flex flex-col w-full mt-24'>
          <div class='w-full flex justify-center mb-16 h-36'>
            <Spaghetti />
          </div>
          <fieldset>
            <legend class='text-white font-bold text-base tracking-[0.25em]'
              >DIETARY REQUIREMENTS</legend
            >
            <div class='grid grid-cols-3 gap-4'>
              <Radio
                id='optionNone'
                name='dietary'
                value='None'
                label='NONE'
                required
                checked
              />
              <Radio
                id='optionVegetarian'
                name='dietary'
                value='Vegetarian'
                label='VEGGIE'
              />
              <Radio
                id='optionVegan'
                name='dietary'
                value='Vegan'
                label='VEGAN'
              />
            </div>
          </fieldset>
        </div>

        <div class='flex flex-col w-full mt-20'>
          <Input
            id='allergies'
            name='allergies'
            label='ALLERGIES'
            description='ENTER ANY FOOD ALLERGIES YOU HAVE BELOW'
          />
        </div>

        <div class='flex flex-col w-full mt-24'>
          <div class='w-full flex justify-center mb-16 h-36'>
            <Microphone />
          </div>
          <Input
            id='song'
            name='song'
            label='SONG CHOICE'
            description='WHAT’S A SONG YOU’D LOVE TO HEAR ON THE DANCEFLOOR?'
          />
        </div>

        <div class='flex flex-col w-full mt-24'>
          <div class='w-full flex justify-center mb-16 h-36'>
            <SOS />
          </div>
          <Input
            id='sos'
            name='sos'
            label='SPECIAL REQUIREMENTS'
            description='ANYTHING YOU’D LIKE US TO BE AWARE OF ON THE DAY?'
          />
        </div>
      </div>

      <div class='w-full flex justify-center mt-24 mb-20'>
        <Button id='submitButton' type='submit' text='RSVP' />
      </div>
    </form>
  </div>
</Layout>

<script src='../scripts/rsvp.ts'></script>
