---
import Divider from '../components/divider/Divider.astro';
import ScheduleItem from '../components/schedule-item/ScheduleItem.astro';
import Title from '../components/title/Title.astro';
import Layout from '../layouts/Layout.astro';
import Champagne from '../components/sketches/Champagne.astro';
import DiscoBall from '../components/sketches/DiscoBall.astro';
import Cake from '../components/sketches/Cake.astro';
import Clock from '../components/sketches/Clock.astro';
import Rings from '../components/sketches/Rings.astro';
import Spaghetti from '../components/sketches/Spaghetti.astro';
import Pizza from '../components/sketches/Pizza.astro';
import Car from '../components/sketches/Car.astro';

const scheduleItems: {
  time: string;
  text: string;
  sketch: any;
  props?: any;
  width?: string;
}[] = [
  {
    time: '12.15 PM',
    text: 'GUESTS ARRIVE',
    sketch: Clock,
    props: { style: 'margin-bottom: 2rem; max-height: 12rem;' }
  },
  { time: '1 PM', text: 'CEREMONY', sketch: Rings, width: '10rem' },
  {
    time: '1.45 PM',
    text: 'DRINKS RECEPTION',
    sketch: Champagne,
    props: { style: 'margin-bottom: 2rem; max-height: 12rem;' }
  },
  {
    time: '4 PM',
    text: 'ITALIAN FEAST',
    sketch: Spaghetti,
    props: { style: 'margin-bottom: 2rem; max-height: 12rem;' }
  },
  {
    time: '6.15 PM',
    text: 'WEDDING CAKE & GELATO',
    sketch: Cake,
    props: { style: 'margin-bottom: 2rem; max-height: 9rem;' }
  },
  {
    time: '7 PM',
    text: 'PARTY STARTS',
    sketch: DiscoBall,
    props: { style: 'margin-bottom: 2rem; max-height: 14rem;' }
  },
  {
    time: '9.30 PM',
    text: 'LATE NIGHT MUNCHIES',
    sketch: Pizza,
    props: { style: 'margin-bottom: 2rem; max-height: 14rem;' }
  },
  {
    time: '11.30 PM',
    text: 'TAXIS',
    sketch: Car,
    props: { style: 'margin-bottom: 2rem; max-height: 12rem;' }
  }
];
---

<Layout title="George & Izzy's Wedding 2025">
  <div class='flex flex-col items-center mt-16 mb-24'>
    <Title text='schedule' className='mb-24' />
    <>
      {
        scheduleItems.map(({ time, text, sketch: Sketch, width, props }, i) => (
          <>
            <ScheduleItem time={time} text={text} width={width}>
              <Sketch {...props} />
            </ScheduleItem>
            {i !== scheduleItems.length - 1 && (
              <div class='p-8'>
                <Divider />
              </div>
            )}
          </>
        ))
      }
    </>
  </div>
</Layout>
