---
import Layout from "../layouts/Layout.astro";
import Title from "../components/title/Title.astro";
import Divider from "../components/divider/Divider.astro";
import Address from "../components/address/Address.astro";
import Heading from "../components/heading/Heading.astro";
import Link from "../components/link/Link.astro";
import Video from "../components/video/Video.astro";
---

<Layout title="George & Izzy's Wedding 2025">
  <div class="mt-16 flex flex-col items-center md:mt-24">
    <Title text="the day after" />
    <div
      class="flex flex-col items-center gap-16 px-4 md:mb-12 md:flex-row md:px-8 lg:gap-36"
    >
      <div class="max-w-xl px-3">
        <Video
          src="kinsbrook_fheklx"
          width={500}
          height={500}
          transformation={[
            { effect: "accelerate:-99", crop: "crop", x: 5, y: 2, width: "ih" },
          ]}
        />
      </div>
      <div class="flex flex-col">
        <div
          class="font-montserrat mb-16 flex flex-col items-center text-xl font-bold tracking-[0.25em] text-white"
        >
          <div class="w-1/2">
            <Heading text="when" />
          </div>
          <p
            class="font-balmy text-custom-green mt-4 text-3xl tracking-[0.02em]"
          >
            10.30am - 2pm
          </p>
          <p
            class="font-balmy text-custom-green mt-4 text-3xl tracking-[0.02em]"
          >
            22.06.2025
          </p>
        </div>
        <Address
          addressLineOne="Kinsbrook Vineyard"
          addressLineTwo="Pulborough"
          addressLineThree="RH20 2RZ"
        />
        <div
          class="font-montserrat flex flex-col items-center text-xl font-bold tracking-[0.25em] text-white"
        >
          <div class="mt-16 w-1/2">
            <Heading text="what3words" />
          </div>
          <a
            href="https://what3words.com/widely.reacting.cubed"
            target="_blank"
            class="font-balmy text-custom-green mt-4 text-3xl tracking-[0.02em]"
            >///widely.reacting.cubed
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center px-3">
    <div class="px-8">
      <Divider />
    </div>

    <section id="stay" class="px-8 text-center">
      <Heading text="what’s the plan?" />
    </section>
    <div
      class="font-montserrat mt-12 flex w-full max-w-5xl flex-col items-start px-4 text-white md:px-8 md:text-base"
    >
      <p class="font-montserrat mt-4 text-white">
        If you’re staying the night locally we’d love to have a final casual
        catch up & goodbye the following day at <Link
          href="https://www.kinsbrookvineyard.com/"
        >
          Kinsbrook Vineyard!
        </Link>
      </p>
      <p class="font-montserrat mt-4 text-white">
        We’ve hired an area on their outdoor patio and will be there from
        <strong>10.30am until the afternoon</strong>, so feel free to join &
        leave whenever suits you - you can grab coffee, breakfast or brunch
        before your journey home!
      </p>
      <p class="font-montserrat mt-4 text-white">
        Kinsbrook Vineyard have an excellent deli which serves <strong
          >coffees, freshly baked pastries, bagels & more</strong
        > to enjoy on the patio. They also have an outdoor pizza truck serving
        wood-fired pizzas from 12pm. And if you’re in need of a hair of the dog
        cure from the night before, they also have a wide selection of their
        award-winning wines, craft beers and ciders.
      </p>
      <p class="font-montserrat mt-4 text-white">
        If you want to make a day of it, you can also make a later lunch
        reservation in their farmhouse restaurant <Link
          href="https://www.kinsbrookvineyard.com/restaurant"
        >
          here
        </Link> - their Sunday roasts are especially good!
      </p>
    </div>

    <div class="px-8">
      <Divider />
    </div>
  </div>
</Layout>
