---
import Layout from '../layouts/Layout.astro';
import Polaroid from '../components/polaroid/Polaroid.astro';
import hideThePain from '../assets/hide_the_pain.jpeg';
import Title from '../components/title/Title.astro';
---

<Layout title="George & Izzy's Wedding 2025">
  <div class='flex flex-col mt-16 md:mt-24 font-montserrat px-8 items-center'>
    <Title text='the day after' />
    <p class='max-w-4xl text-center text-white'>
      We’re planning a casual goodbye brunch at location near to our wedding
      venue on Sunday 22nd June, so if you don’t have any plans to rush back for
      then we’d love to see you!
    </p>
    <p class='max-w-4xl text-center text-white mt-4'>
      We will be updating this page with more details very shortly.
    </p>
  </div>
</Layout>
