---
import Layout from "../layouts/Layout.astro";
import Polaroid from "../components/polaroid/Polaroid.astro";
import Title from "../components/title/Title.astro";
import { IMAGES } from "../utilities/images";
---

<Layout title="George & Izzy's Wedding 2025">
  <div class="font-montserrat mt-16 flex flex-col items-center px-8">
    <Title text="yay!" />
    <div class="max-w-md">
      <Polaroid src={IMAGES.hawaii} />
    </div>
    <div
      class="mt-12 text-center font-bold tracking-[0.25em] text-white uppercase"
    >
      WE’RE SO HAPPY YOU’RE COMING
    </div>
    <div class="font-montserrat mt-8 max-w-2xl text-center text-xl text-white">
      Check your email for confirmation of your RSVP.
    </div>
    <div class="font-montserrat mt-2 max-w-2xl text-center text-xl text-white">
      We’ll be sending updates nearer the time via email!
    </div>
  </div>
</Layout>

<script>
  import confetti from "canvas-confetti";

  var duration = 15 * 1000;
  var animationEnd = Date.now() + duration;
  var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

  function randomInRange(min: number, max: number) {
    return Math.random() * (max - min) + min;
  }

  var interval: NodeJS.Timeout = setInterval(function () {
    var timeLeft = animationEnd - Date.now();

    if (timeLeft <= 0) {
      return clearInterval(interval);
    }

    var particleCount = 50 * (timeLeft / duration);
    // since particles fall down, start a bit higher than random
    confetti({
      ...defaults,
      particleCount,
      origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 },
    });
    confetti({
      ...defaults,
      particleCount,
      origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 },
    });
  }, 250);
</script>
