---
import { v2 as cloudinary } from "cloudinary";

interface Props {
  src: string;
  width: number;
  height: number;
  transformation?: any[];
}

const { src, width, height, transformation }: Props = Astro.props;

cloudinary.config({
  cloud_name: import.meta.env.CLOUDINARY_CLOUD_NAME,
});

const cdnImg = cloudinary.url(`wedding/${src}`, {
  resource_type: "video",
  transformation,
});
---

<div
  class="flex w-full max-w-xl flex-col items-center justify-center shadow-2xl md:max-w-4xl"
>
  <video
    autoplay
    loop
    muted
    preload="auto"
    playsinline
    class="w-full border-4 border-white grayscale filter md:border-8"
    width={width}
    height={height}
  >
    <source src={cdnImg} type="video/mp4" />
  </video>
</div>
