---
import Nav from "../components/nav/Nav.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";

interface Props {
  title: string;
  noNav?: boolean;
  noHeader?: boolean;
}

const { noNav, noHeader, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Website for George & Izzy's wedding in 2025"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    {!noNav && <Nav noHeader={noHeader} />}
    <slot />
  </body>
</html>
