---
import Image from "../image/Image.astro";

const { images, classes }: Record<string, string[]> = Astro.props;
---

<div
  class={`bg-white pt-1 px-1 md:px-2 pb-8 md:pb-12 shadow-2xl max-w-[16rem] ${
    classes ? ` ${classes}` : ""
  }`}
>
  {
    images.map((image) => {
      return (
        <div
          class={`my-1 box-border h-[200px] flex-none overflow-hidden md:my-2`}
        >
          <Image
            classes="h-full w-full object-cover"
            src={image}
            height={200}
            width={266}
          />
        </div>
      );
    })
  }
</div>
